<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BOOTSTRAP CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <!--MY CUSTOM CSS!-->
    <link rel="stylesheet" href="static/css/custom.css">
    <title>Nuke Page🚀💣</title>
</head>
<!--WHERE RENDER FORM TOOL COMES FROM-->
{% from "bootstrap5/form.html" import render_form %}
<body class="yff-body">
    <!--HERO UP HERE-->
    <div class="px-4 py-5 text-center bg-maroon"> 
        <img src="static/assets/img/yff-logo.jpg" class="rounded-3 mb-2" width="200" height="200">
        <h1 class="display-5 fw-bold text-white">Nuke Page.💣💥🧨</h1> 
        <div class="col-lg-6 mx-auto"> 
            <p class="lead mb-4 text-white"><b>WARNING: FILLING OUT THIS FORM WILL CLEAR ALL DATABASES.</b>
                Use in dire situations only. Click anywhere for the appropriate music.
            </p>
            <a href="{{ url_for('home') }}" class="btn btn-lg btn-orange">Return Home!🛖</a>
        </div>
    </div>
    <!--ACTUAL FORM AND GIF HERE-->
    <div class="container my-5 py-5 bg-maroon text-white fw-bold rounded-5">
        <div class="row">
            <div class="col-sm-8">
                {{ render_form(form, novalidate=true) }}
            </div>
            <div class="col-sm-4">
                <img src="static/assets/img/explosion-nuke.gif" class="rounded-3" width="400" height="300">
            </div>
        </div>
    </div>
<!--HIDDEN AUDIO AND SCRIPT-->
<audio src="static/assets/audio/internationale.mp3" id="sovietSound"></audio>
<script>
    const sovietSound = document.getElementById('sovietSound');

    document.body.addEventListener('click', () => {
        sovietSound.volume = 0.8;
        sovietSound.loop = true;
        sovietSound.play(); 
    });
</script>
</body>
</html>